<div class="shop__sidebar">
    <div class="shop__sidebar__search">
        <form action="{% url 'products:all' %}">
            <input type="text" placeholder="Search..." name="q" value="{{ request.GET.q }}">
            <button type="submit"><span class="icon_search"></span></button>
        </form>
    </div>
    <div class="shop__sidebar__accordion">
        <div class="accordion" id="accordionExample">
            <div class="card">
                <div class="card-heading">
                    <a data-toggle="collapse" data-target="#collapseOne">Categories</a>
                </div>
                <div id="collapseOne" class="collapse show" data-parent="#accordionExample">
                    <div class="card-body">
                        <div class="shop__sidebar__categories">
                            <ul class="nice-scroll">
                                {% for category in categories %}
                                    <li><a {% if category.id|stringformat:'i' == request.GET.cat %}
                                        style="color: #000000" {% endif %}  onclick="addSearchParams('cat', {{ category.id }})" href="#">{{ category.name }} ({{ category.products.count }})</a></li>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-heading">
                    <a data-toggle="collapse" data-target="#collapseTwo">Branding</a>
                </div>
                <div id="collapseTwo" class="collapse show" data-parent="#accordionExample">
                    <div class="card-body">
                        <div class="shop__sidebar__brand">
                            <ul>
                                {% for brand in brands %}
                                    <li><a {% if brads.id|stringformat:'i' == request.GET.brand %}
                                           style="color: #000000" {% endif %} onclick="addSearchParams('brand', {{ brand.id }})" href="#">{{ brand.name }}</a></li>
                                {% endfor %}

                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-heading">
                    <a data-toggle="collapse" data-target="#collapseThree">Filter Price</a>
                </div>
                <div id="collapseThree" class="collapse show" data-parent="#accordionExample">
                    <div class="card-body">
                        <div class="shop__sidebar__price">
                            <ul>
                                <li><a href="#">$0.00 - $50.00</a></li>
                                <li><a href="#">$50.00 - $100.00</a></li>
                                <li><a href="#">$100.00 - $150.00</a></li>
                                <li><a href="#">$150.00 - $200.00</a></li>
                                <li><a href="#">$200.00 - $250.00</a></li>
                                <li><a href="#">250.00+</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-heading">
                    <a data-toggle="collapse" data-target="#collapseFour">Size</a>
                </div>
                <div id="collapseFour" class="collapse show" data-parent="#accordionExample">
                    <div class="card-body">
                        <div class="shop__sidebar__tags">
                            {% for size in sizes %}
                                 <a href="#" {% if size.id|stringformat:'i' == request.GET.size %}
                                    style="background: #111111; color: #FFFFFF;"
                                   {% endif %} onclick="addSearchParams('size', {{ size.id }})"> {{ size.name }}</a>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-heading">
                    <a data-toggle="collapse" data-target="#collapseFive">Colors</a>
                </div>
                <div id="collapseFive" class="collapse show" data-parent="#accordionExample">
                    <div class="card-body">
                        <div class="shop__sidebar__color">
                            <label class="c-1" for="sp-1">
                                <input type="radio" id="sp-1">
                            </label>
                            <label class="c-2" for="sp-2">
                                <input type="radio" id="sp-2">
                            </label>
                            <label class="c-3" for="sp-3">
                                <input type="radio" id="sp-3">
                            </label>
                            <label class="c-4" for="sp-4">
                                <input type="radio" id="sp-4">
                            </label>
                            <label class="c-5" for="sp-5">
                                <input type="radio" id="sp-5">
                            </label>
                            <label class="c-6" for="sp-6">
                                <input type="radio" id="sp-6">
                            </label>
                            <label class="c-7" for="sp-7">
                                <input type="radio" id="sp-7">
                            </label>
                            <label class="c-8" for="sp-8">
                                <input type="radio" id="sp-8">
                            </label>
                            <label class="c-9" for="sp-9">
                                <input type="radio" id="sp-9">
                            </label>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-heading">
                    <a data-toggle="collapse" data-target="#collapseSix">Tags</a>
                </div>
                <div id="collapseSix" class="collapse show" data-parent="#accordionExample">
                    <div class="card-body">
                        <div class="shop__sidebar__tags">
                            {% for tag in tags %}
                                <a href="#" {% if tag.id|stringformat:'i' == request.GET.tag %}
                                    style="background: #111111; color: #FFFFFF;"
                                   {% endif %} onclick="addSearchParams('tag', {{ tag.id }})"> {{ tag.name }}</a>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>